name: nf-core-manifold
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - python=3.10
  - pip
  # Core bioinformatics
  - scanpy>=1.9
  - pandas
  - numpy
  - matplotlib
  - scikit-learn
  
  # Module 1: Geometry
  - phate
  
  # Module 2: Topology
  - ripser
  - persim
  
  # Module 3: Causality
  - networkx
  - python-igraph
  - leidenalg
  
  # System utilities (Required by Nextflow)
  - procps-ng  
