env {
    NUMBA_CACHE_DIR = '/tmp'
    MPLCONFIGDIR    = '/tmp'
}

params {
    input            = 'test_dataset.h5ad'
    outdir           = 'results'
    manifold_methods = 'phate,diffmap' 
}

process {
    container = 'miguelrosell/nf-core-manifold:dev'
    
    withName: 'PHATE' {
        publishDir = [ path: { "${params.outdir}/geometry/phate" }, mode: 'copy' ]
    }
    withName: 'DIFFMAP' {
        publishDir = [ path: { "${params.outdir}/geometry/diffmap" }, mode: 'copy' ]
    }
    withName: 'TOPOLOGY' {
        publishDir = [ path: { "${params.outdir}/topology" }, mode: 'copy' ]
    }
    withName: 'CAUSALITY' {
        publishDir = [ path: { "${params.outdir}/causality" }, mode: 'copy' ]
    }
}

profiles {
    docker {
        docker.enabled      = true
        docker.runOptions   = '-u $(id -u):$(id -g)' 
        singularity.enabled = false
    }
}
